<%- include('top.ejs') %>

<table class="table table-bordered table-hover text-center align-middle">
    <thead class="thead-dark">
        <tr class="table-info">
          <th scope="col" style="width: 15%">Nome</th>
          <th scope="col" style="width: 7%">Idade</th>
          <th scope="col" style="width: 10%">Profissão</th>
          <th scope="col" style="width: 30%">Email</th>
          <th scope="col" style="width: 7%" class="editExclui">Editar</th>          
          <th scope="col" style="width: 7%" class="editExclui">Excluir</th>
        </tr>
    </thead>
    <tbody>
  <% docs.forEach(function(cliente){ %>
    <tr>
      <td>
       <%= cliente.nome %>
      </td>
      <td>
        <%= cliente.idade %>
      </td>
      <td>
        <%= cliente.profissão %>
      </td>
      <td>
        <%= cliente.email %>
      </td>
      <td>
        <a href="/edit/<%= cliente._id %>">
          <i class="fas fa-user-edit" style=color:#47696b></i>
        </a>
        </td>
      <td>
      <a href="/delete/<%= cliente._id %>" class="btn btn-danger btn-sm" 
        onclick="return confirm('Tem certeza que deseja excluir?');">
        X
      </a>
      </td>
    </tr>
  <% }) %>
  </tbody>
</table>
<p><%= count %> clientes encontrados!</p>

<nav aria-label="Paginação">
  <ul class="pagination">
    <%
      for(let i=1; i <= qtdPaginas; i++) {
        %>
          <li class="page-item"><a class="page-link" href="/<%= i %>"><%= i %></a></li>
    <% }%>
  </ul>
</nav>

<span class="d-flex justify-content-center"><a href="/novo" class= "btn btn-primary" id='novoCliente'>NOVO CLIENTE</a></span>
<%- include('bottom.ejs') %>
