<%- include('top.ejs') %>
    <form action="<%= action %>" method='POST'>
        <p>Nome: <input type="text" name='nome' value="<%= doc.nome %>"/></p>
        <p>Idade: <input type="number" name='idade' value="<%= doc.idade %>"/></p>
        <p>Profissão: <input size='16.8' type="text" name='profissão' value="<%= doc.profissão %>"/></p>
        <input id = 'inputButton' type="submit" value='SALVAR'>
    </form>
<%- include('bottom.ejs') %>
